<div class="devise-container main-container">
  <div class="devise-content">
    <h1>Créer un compte</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-input-content">
          <div class="form-input-content-i">
            <i class="fa fa-envelope"></i>
          </div>
          <%= f.input :email,
                      label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", placeholder: 'ex: exemple@mail.com' }%>
        </div>
        <div class="form-input-content">
          <div class="form-input-content-i">
            <i class="fa fa-location-arrow"></i>
          </div>
          <%= f.input :address,
                      label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "address", placeholder: 'ex: 166 rue vendôme, 69003 Lyon' }%>
        </div>
        <div class="form-input-content">
          <div class="form-input-content-i">
            <i class="fa fa-phone"></i>
          </div>
          <%= f.input :phone,
                      label: false,
                      required: false,
                      autofocus: true,
                      input_html: { placeholder: 'ex: 0612345623' }%>
        </div>
        <div class="form-input-content">
          <div class="form-input-content-i">
            <i class="fa fa-key"></i>
          </div>
          <%= f.input :password,
                      label: false,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-input-content">
          <div class="form-input-content-i">
            <i class="fa fa-key"></i>
          </div>
          <%= f.input :password_confirmation,
                      label: false,
                      required: true,
                      hint: ("Confirmer mot de passe"),
                      input_html: { autocomplete: "new-password" } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Enregistrer", class:'btn btn-secondary' %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
