<%#= javascript_pack_tag 'artist_show' %>

<div class="main-container">
  <div class="secondary-container">
  <div class="profile-header">
    <div class="profile-header-left">
      <div class="profile-header-left-name">
        <h1><%= @artist.name %></h1>
        <p><%= @artist.speciality %></p>
      </div>
      <div class="profile-header-left-socials">
        <%= render 'shared/social_links', element: @artist %>
      </div>
    </div>
    <div class="profile-header-right">
      <span id='rdv-button' class="btn btn-secondary">Prendre rendez-vous</span>
    </div>
  </div>
    <div class="profile-content">
      <div class="profile-pic-container">
        <% if @artist.profile_pic.attached? %>
          <%= cl_image_tag @artist.profile_pic.key, class:"profile-picture align-left slide-in", id:"odahil-profile-pic"%>
        <% else %>
          <%= image_tag "app/assets/images/profile_placeholder.jpg", class:"profile-picture align-left slide-in", id:"odahil-profile-pic"%>
        <% end %>
      </div>

      <div class="profile-content-text">
        <h2>
        <%= @artist.description %>
        <hr>
        <span><%= @artist.name %><span>
        </h2>
      </div>
    </div>
    <%= render 'artists/tattoos', tattoos: @tattoos %>
    <%= render 'artists/appointment_form', artist: @artist, appointments: @appointments, appointment: @appointment %>
  </div>
</div>
<div class="react-artist-show" data-artist-id=<%= params[:id] %>></div>
