<footer>

  <div class="footer">

    <div class="footer-up-section">
      <div class="footer-left-element">
        <a href="/"><%= image_tag("logo.png") %></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus alias dolore consequatur architecto cumque deserunt quis vel?</p>
      </div>

      <div class="footer-center-element">
        <div class="social-links">
          <a href=<%= Shop.first.facebook %>><i class="fa fa-facebook"></i></a>
          <a href=<%= Shop.first.instagram %>><i class="fa fa-instagram"></i></a>
          <a href=<%= Shop.first.twitter %>><i class="fa fa-twitter"></i></a>
          <%# <a href="#"><i class="fa fa-linkedin-square"></i></a> %>
        </div>

        <div class="row">
          <ul>
            <li><a href="#">Artists</a> |</li>
            <li><a href="#">Our Services</a> |</li>
            <li><a href="#">Privacy Policy</a> |</li>
            <li><a href="#">Terms & Conditions</a> |</li>
            <li><a href="#"> Career</a></li>
          </ul>
        </div>
        <%# <div class="row footer-caption-large">
          <p>Les Mondes Flottants © 2023 - All rights reserved || Designed By: <a href="www.linkedin.com/in/fabrice-tui">Fab Web Design</a></p>
        </div> %>
      </div>

      <div class="footer-right-element">
        <div class="address-links">
          <li class="address1"><i class="fa-solid fa-location-dot"></i><a href="https://www.google.fr/maps/place/166+Rue+Vend%C3%B4me,+69003+Lyon/" target="_blank"> <%= Shop.first.address %></a></li>
          <li><i class="fa fa-clock-o"></i></i> <%= Shop.first.global_opening %></li>
          <li><a href="tel:<%= Shop.first.phone %>"><i class="fa-solid fa-phone"></i> <%= Shop.first.phone %></a></li>
          <li><a href="mailto:<%= Shop.first.email %>"><i class="fa-solid fa-envelope"></i> <%= Shop.first.email %>/a></li>
        </div>
      </div>

      </div>

    <div class="footer-down-section">
      <div class="row footer-caption">
        <p><%= Shop.first.name %> © 2023 - All rights reserved || Designed By: <a href="www.linkedin.com/in/fabrice-tui">Fab Web Design</a></p>
      </div>
    </div>

  </div>
</footer>
