<% shop = Shop.first %>
<footer>
  <div class="footer">
    <div class="footer-up-section">
      <div class="footer-left-element">
        <% if shop.logo.attached? %>
          <a href="/"><%= cl_image_tag shop.logo.key %></a>
        <% end %>
        <p><%= shop.caption %></p>
      </div>

      <div class="footer-center-element">
        <%= render 'shared/social_links', element: shop %>

        <div class="row">
          <ul>
            <li><a href="#">Artists</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-right-element">
        <div class="address-links">
          <li class="address1"><i class="fa-solid fa-location-dot" style="margin-right: 4px"></i><a href="https://www.google.fr/maps/place/<%= shop.address %>/" target="_blank"><%= shop.address %></a></li>
          <li><i class="fa fa-clock-o"></i></i> <%= shop.global_opening %></li>
          <li><a href="tel:<%= shop.phone %>"><i class="fa-solid fa-phone"></i> <%= shop.phone %></a></li>
          <li><a href="mailto:<%= shop.email %>"><i class="fa-solid fa-envelope"></i> <%= shop.email %></a></li>
        </div>
      </div>

    </div>

    <div class="footer-down-section">
      <div class="row footer-caption">
        <p><%= shop.name %> © 2023 - All rights reserved || Designed By: <a href="www.linkedin.com/in/fabrice-tui">Fab Web Design</a></p>
      </div>
    </div>

  </div>
</footer>
