<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: black; color: white; font-family: Helvetica;">
    <div class="container" style="padding: 5vw;">
      <h1>Merci d'avoir pris rendez-vous avec <%= @appointment.artist.name.capitalize %>.</h1>
      <br>
      <p>Nous te confirmons ton rendez-vous du <%= I18n.localize(@appointment.date, format: :long) %> avec <%= @appointment.artist.name.capitalize %> à l'adresse suivante:</p>
      <br>
      <p style="font-weight: 600;"><%= @shop.name %></p>
      <p><%= @shop.address %></p>
      <br>
      <p>Pour toute modification ou annulation merci de nous contacter au <a style="color: white" href="tel:<%= @shop.phone %>"><%= @shop.phone %></a>.</p>
      <br>
      <a style="color: white" href=<%= @event_link %>>Ajouter ce rendez-vous à ton calendrier</a>
      <br>
      <p>A très bientôt !</p>
      <br>
      <p style="text-align: end;"><%= @shop.name %></p>
    </div>
  </body>
</html>
