<div class="devise-container main-container">
  <div class="devise-content">
    <h1>Se connecter</h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-input-content">
          <div class="form-input-content-i">
            <i class="fa fa-envelope"></i>
          </div>
          <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-input-content">
          <div class="form-input-content-i">
            <i class="fa fa-key"></i>
          </div>
          <%= f.input :password,
                required: false,
                label: false,
                input_html: { autocomplete: "current-password" } %>
        </div>
      </div>
      <div class="form-input-remember">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Se connecter", class:'btn btn-secondary' %>
      </div>
    <% end %>
    <br>
    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
